/SchoolManagement.Api/obj
/SchoolManagement.Api/bin
/SchoolManagement.Application/bin
/SchoolManagement.Application/obj
/SchoolManagement.Application.UnitTests/obj
/SchoolManagement.Application.UnitTests/bin
/SchoolManagement.Domain/obj
/SchoolManagement.Domain/bin
/SchoolManagement.Identity/bin
/SchoolManagement.Identity/obj
/SchoolManagement.Infrastructure/bin
/SchoolManagement.Infrastructure/obj
/SchoolManagement.Persistence/bin
/SchoolManagement.Persistence/obj
/SchoolManagement.Shared/bin
/SchoolManagement.Shared/obj
/SchoolManagement.TestModelgenerate
/testmodel
/SchoolManagement.testdomain
/.vs

