/*
 *  Document   : style.css
 *  Author     : RedStar Template
 *  Description: This is a main style scss file for import all scss files.
 *
 *  Structure (with shortcodes):
                 [1. Common ]
                 [2. Fonts ]                   
                 [3. Components ]       
                 [4. Apps]                   
                 [5. Pages ]    
                 [6. Pugins ]        
                 [7. UI ]     
                 [8. Browser ]     
/*                 [0. Custom Style Start ]                   			*/
//  Font Declaration section start
@font-face {
    font-family: buskerville;
    src: url(/assets/fonts/text-fonts/BASKVILL.ttf);
} 
@font-face {
    font-family: cuprum;
    src: url(/assets/fonts/text-fonts/Cuprum.otf);
}
//  Font Declaration section end

.mat-row.cdk-row.ng-star-inserted:nth-child(odd) {
    background: #11265440;
}
.mat-row.cdk-row.ng-star-inserted:nth-child(even) {
    background: #d3daea;
}  
.mat-header-row.cdk-header-row.ng-star-inserted {
    background: #f44336;
}    
.mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell {
    color: #fff;
    
} 
.db-tbl.scl-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.custom-action, .db-tbl.scl-db .mat-row.cdk-row.ng-star-inserted .mat-cell.custom-action{
    max-width: 300px;
    min-width: 300px;
}
.ins-assignment-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.col-status, .ins-assignment-list .mat-row.cdk-row.ng-star-inserted .mat-cell.col-status {
    max-width: 80px;
}
.ins-assignment-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.col-duration, .ins-assignment-list .mat-row.cdk-row.ng-star-inserted .mat-cell.col-duration, .ins-assignment-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.col-remarks, .ins-assignment-list .mat-row.cdk-row.ng-star-inserted .mat-cell.col-remarks {
    max-width: 200px;
}
.submitted-assignment-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.file-col, .submitted-assignment-lst .mat-row.cdk-row.ng-star-inserted .mat-cell.file-col {
    max-width: 60px;
}
.submitted-assignment-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.status-col, .submitted-assignment-lst .mat-row.cdk-row.ng-star-inserted .mat-cell.status-col {
    max-width: 150px;
}
.submitted-assignment-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.remarks-col, .submitted-assignment-lst .mat-row.cdk-row.ng-star-inserted .mat-cell.remarks-col {
    max-width: 300px;
}
.qexam-sub-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .qexam-sub-list .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child, .qexam-sub-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.xm-time, .qexam-sub-list .mat-row.cdk-row.ng-star-inserted .mat-cell.xm-time {
    max-width: 90px;
}
.qexam-sub-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.pass-mark, .qexam-sub-list .mat-row.cdk-row.ng-star-inserted .mat-cell.pass-mark, .qexam-sub-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.total-mark, .qexam-sub-list .mat-row.cdk-row.ng-star-inserted .mat-cell.total-mark{
    max-width: 100px;
}
.trainee-db-qexam-row span.branch-name {
    text-transform: uppercase;
    color: #f44336;
}
.trainee-db-left-routine .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .trainee-db-left-routine .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child {
    max-width: 30px;
}
.trainee-db-left-routine .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .trainee-db-left-routine .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: 80px;
}
.trainee-db-left-routine .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.date-col, .trainee-db-left-routine .mat-row.cdk-row.ng-star-inserted .mat-cell.date-col {
    max-width: 165px;
}
.tbl-local .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell {
    display: grid;
    text-align: center;
}
.stuff-clg-nominated .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.billet-col, .stuff-clg-nominated .mat-row.cdk-row.ng-star-inserted .mat-cell.billet-col, .stuff-clg-nominated .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.center-col, .stuff-clg-nominated .mat-row.cdk-row.ng-star-inserted .mat-cell.center-col {
    max-width: 150px;
}
.cl-status .custom-btn {
    background: transparent;
    box-shadow: none;
    font-weight: 400;
    padding: 5px 8px;
    line-height: 12px;
    border: 1px solid;
    color: #198754 !important;
    font-family: cambria;
}
.db-li-n.trainee-list-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.col-duration, .db-li-n.trainee-list-db .mat-row.cdk-row.ng-star-inserted .mat-cell.col-duration,.db-li-n.trainee-list-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.col-course, .db-li-n.trainee-list-db .mat-row.cdk-row.ng-star-inserted .mat-cell.col-course{
    max-width: 200px;
}
.mat-table .mat-header-cell {
    font-size: 16px;
    font-weight: 800;
}
.mat-table {
    font-family: cambria;
}
h3.mt-2 {
    text-align: center;
    color: blue;
}

// event calendar colors
.event-calendar .fc-event-color.color0 {
    background: black;
}
.event-calendar .fc-event-color.color1 {
    background: green;
}
.event-calendar .fc-event-color.color2 {
    background: blue;
}
.event-calendar .fc-event-color.color3 {
    background: red;
}
.event-calendar .fc-event-color.color4 {
    background: blueviolet;
}
.event-calendar .fc-event-color.color5 {
    background: rgb(43, 168, 226);
}
.event-calendar .fc-event-color{
    color: #fff;
}
.event-calendar .fc-event-color.hov:hover {
    background: antiquewhite;
    color: #000;
}
.event-calendar .right-float {
    float: right;
}

.event-calendar .fc-event-color.spn {
    margin: 10px 5px;
    min-width: 64px;
    line-height: 20px;
    padding: 0px 10px;
}
.event-calendar .fc-daygrid-event .fc-event-time {
    display: none;
}
// event calendar colors end
.mat-header-row.cdk-header-row.ng-star-inserted {
    min-height: 35px;
} 
.mat-table.qexam-routine .mat-header-row .mat-header-cell, .mat-table .mat-row .mat-cell.td-cell {
    max-width: 140px !important;
}
.assignment.notification-sign {
    top: 11px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #28aebb;
}
.stu-db.ins-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .stu-db.ins-lst .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: 600px;
    min-width: 600px;
}

mat-header-cell.mat-header-cell.cdk-header-cell.pr-0.cdk-column-actions.mat-column-actions.custom-action.local.ng-star-inserted {
    max-width: 300px;
}

mat-cell.mat-cell.cdk-cell.pr-0.cdk-column-actions.mat-column-actions.attendanceCell.ng-star-inserted {
    max-width: 140px;
}

mat-header-cell.mat-header-cell.cdk-header-cell.pr-0.cdk-column-actions.mat-column-actions.attendanceCellHeader.ng-star-inserted {
    max-width: 140px;
}

mat-cell.mat-cell.cdk-cell.pr-0.cdk-column-actions.mat-column-actions.custom-action.local.ng-star-inserted {
    max-width: 300px;
}

.stu-db.ins-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .stu-db.ins-lst .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child {
    max-width: 55px;
}
.db-event-calendar full-calendar.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard .fc-toolbar-title {
    font-size: 18px;
}
.db-event-calendar .fc .fc-button-primary {
    margin-right: 3px !important;
    padding: 5px;
    line-height: 10px;
}
.db-event-calendar .fc .fc-button-primary .fc-icon {
    font-size: 14px;
}
.fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
    margin-left: 2px !important;
}
.db-event-calendar .fc .fc-toolbar.fc-header-toolbar {
    margin: 10px;
    margin-bottom: 0;
}
.db-course-list .col-8.div-left h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "cuprum";
    color: #000;
    margin-top: 6px;
}
.db-course-list table tbody tr th, .db-course-list table tbody tr td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}
.db-event-calendar .fc .fc-daygrid-body-balanced .fc-daygrid-day-events .fc-daygrid-day-bottom {
    position: relative;
    top: -10px;
    left: -15px;
}
body.light.menu_light.logo-white.theme-white {
    transition: all 0.5s;
    /* background-image: url(/assets/images/bg/20180506125730.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: cambria;
    font-size: 16px;
    background-color: beige;
}
.theme-white .navbar.active {
    background-color: #fff !important;
    border-bottom: 1px solid #dee4ec;
    box-shadow: 5px 7px 26px -5px #5b8561 !important;
}
ul.float-start.head-title li {
    float: left;
    font-family: cuprum;
    font-weight: bold;
    font-size: 20px;
}
.light .sidebar .menu .list a span {
    font-family: arial;
    font-weight: bold;
    font-size: 13px;
}
.theme-white .sidebar .menu .list .ml-menu {
    font-family: arial;
    font-weight: bold;
    font-size: 13px !important;
}

.sidebar .menu .list li.active .menu-top {
    background-color: #eb2b6c78 !important;
}

.sidebar .menu .list li.active .menu-top span.hide-menu {
    font-family: 'cuprum';
    font-size: 17px;
    font-weight: bold;
}
li.head-title-name {
    padding-top: 1%;
}
app-new-allowancecategory .c-color {
    color: red;
    font-weight: bold;
}
.create-table .table-title {
    font-weight: bold;
    font-family: arial;
    color: #f60002;
}
app-header .navbar-collapse.collapse {
    border: none !important;
}
app-header .container-fluid {
    height: 49px !important;
}

// table group by design start

.content .card .body .tbl-by-group thead tr th {
    background: #f44336;
    color: #fff;
    height: 30px;
    text-align: center;
}
.db-event-calendar .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    white-space: normal;
}
.db-event-calendar .fc .fc-daygrid-event {
    margin:0 !important;
    padding: 0;
}
full-calendar.fc-theme-standard .fc-popover {
    z-index: 1;
}
.db-main .calendar-color {
    color: #f53030e0;
}
.db-main .upcoming-color {
    color: #5d9b59;
}
.content .card .body .tbl-by-group thead tr th.course-name-col {
    width: 400px;
}
.routine-entry form.form-border-design .row mat-form-field, .routine-entry form.form-border-design .row mat-form-field .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}
.content .card .body .tbl-by-group thead tr th h5 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.content .card .body .tbl-by-group tbody {
    border: none;
}

.content .card .body .tbl-by-group tbody tr td {
    padding: 0;
    text-align: center;
}

.content .card .body .tbl-by-group tbody tr:nth-child(odd) {
    background: #d1d7d59c;
}

.db-event-calendar .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard .fc-popover .fc-popover-body .fc-event-time {
    display: none;
}

.content .card .body .tbl-by-group tbody tr:nth-child(even) {
    background: #ebd7d7;
}

// table group by design end
body.light.menu_light.logo-white.theme-white .navbar.active {
    background-color: #030980 !important;
    color: #fff;
    border-bottom: none;
    box-shadow: none !important;
}
.content .card .body .tbl-by-group.db-tbl thead tr th:last-child, .content .card .body .tbl-by-group.db-tbl thead tr td:last-child {
    width: 100px;
}
aside#leftsidebar{
    top: 0px;
    background: #c7cfdd;
    height: auto;
}
nav.navbar.active .navbar-header {
    background-color: #a0cafe;
    border: none;
}
img.main-logo {
    width: 30px;
}
.icon-button-demo.m-l-10 .mat-mini-fab.mat-button-base.mat-accent {
    background-color: #eb2b6c;
}
app-footer nav.navbar.active.footer-navbar, .container-fluid.footer-fixed {
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #030980;
}

.card .body .block-header {
    background: #dfdfdf;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
}
.card .body .block-header .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    margin: 0;
}
app-main-tab-layout>section>.container-fluid>.row>.col-xs-12.col-sm-12.col-md-12.col-lg-12>.card>.body {
    background: white;
}
.content .card .body .tbl-by-group.tbl-trainee-db thead tr th {
    background: #939393;
    color: #fff;
    height: 30px;
    text-align: center;
}
.table.tbl-trainee-db tbody tr td, .table.tbl-trainee-db tbody tr th {
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}
.card .body .mat-row.cdk-row.ng-star-inserted:nth-last-child(1), .card .body .mat-table {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card .body .mat-tab-header {
    background: #aabedb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .body nav .mat-tab-header-pagination-disabled {
    background: #fff;
    opacity: .5;
    cursor: no-drop;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item.bcrumb-1::before {
    content: none !important;
}

.ng-star-inserted .col-xl-12.col-lg-12.col-md-12.col-sm-12, .ng-star-inserted .col-xl-12.col-lg-12.col-md-12.col-sm-12 > .card {
    margin-bottom: 0;
}
.card .body .breadcrumb.breadcrumb-style {
    padding-left: 15px;
}
.card .header {
    display: none !important;
}
.important-type .mat-form-field-outline.ng-star-inserted {
    background: red;
    border-radius: 5px;
}
.content .card .body {
    border-radius: 10px;
    background: #ffffff;
}
a.mat-tab-link.mat-focus-indicator.ng-star-inserted.mat-tab-label-active {
    background: #030980;
    color: #fff;
}
body.light.menu_light.logo-white.theme-white .breadcrumb li a {
    color: #eb2b6c !important;
}
.card .body .mat-tab-header mat-ink-bar {
    background: #f60002;
}
.snackbar-success {
    background: #056805 !important;
}
.snackbar-danger {
    background: red !important;
}
.breadcrumb li h4, .breadcrumb li.active, .breadcrumb li i {
    color: #030980 !important;
}
body.light.menu_light.logo-white.theme-white .navbar.active.footer-navbar {
    position: relative;
    min-height: 35px;
}
.footer-navbar .navbar-nav.navbar-right {
    margin: 0;
}
app-footer .container-fluid.footer-fixed ul {
    line-height: 35px;
    padding: 0;
}
app-footer .container-fluid.footer-fixed ul li {
    font-size: 13px;
    font-weight: 300;
}
.materialTableHeader .header-buttons-left input.search-field {
    padding: 5px 15px !important;
    font-size: 16px !important;
}
.mat-step-icon-selected, .mat-step-label-selected {
    background: aquamarine;
    text-transform: uppercase;
}

.btn-tbl-edit.update-trainee {
    background: #0a2f2f;
}
app-header .navbar-header {
    height: 40px;
}
app-header .navbar .collapse-menu-icon {
    line-height: 41px;
    padding-left: 14px;
}
app-header .navbar  .header-shape-list {
    position: absolute;
    top: 0;
}
app-header ul.nav.navbar-nav.navbar-right {
    line-height: 50px;
    background: #dde4e7e6;
    position: relative;
    top: -1px;
}
app-header nav.navbar.active {
    min-height: 50px;
}
app-header .navbar-nav > li > a {
    margin-top: 7px;
}
app-header .navbar-nav > li > button.js-right-sidebar {
    display: contents;
    visibility: hidden;
}
app-root section.content {
    margin: 50px 15px 0 276px;
}
app-main ul.breadcrumb {
    padding: 0px;
    font-size: 15px;
}

.header-buttons-left h4 {
    color: #000100;
    margin-top: 10px;
    margin-left: 15px;
}

app-main-tab-layout .materialTableHeader {
    background: #e2e9ef;
    height: 50px;
    padding: 0;
}

//form relational field

form .viewable {
    display: block;
}

form .viewable.no {
    display: none;
}

.radio-field .radio-btn {
    margin-top: 10px;
}

.radio-field .radio-btn mat-radio-group {
    padding: 0;
}

// login page design

.login-top-design .title {
    text-align: center;
    border: 1px solid #000000b8;
    padding: 10px;
    border-radius: 5px;
}
.login-top-design .title h3 {
    margin: 0;
    font: 500 1.3rem "Roboto-Regular", sans-serif;
}

.auth-form-section.login-background {
    background-image: url('./../images/login/LoginBanner.jpg') !important;
    background-size: cover;
}

.login-top-design .logo {
    margin: 0 auto;
    display: table;
}

.txt-theory {
    width: 100px;
}

.login-top-design .logo {
    margin: 0 auto;
    display: table;
    padding: 20px 0;
}

.login .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 0;
    background: #ffffff54;
    border-radius: 5px;
}

.login form {
    padding-top: 15px;
}

.login .form-check .form-check-label {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.login .form-check .form-check-sign .check {
    border-color: #fff;
    position: relative;
    top: 3px;
}

.login .forget-link {
    font-size: 18px !important;
    font-weight: 600;
    color: #fff;
    position: relative;
    top: -4px;
    text-decoration: underline;
}
.cls-header{
    color: rgb(84, 86, 233);
}
app-main-tab-layout .table-bordered tbody tr th {
    background-color: #7bb6ff;
    text-transform: uppercase;
    width: 25%;
}

.container.att-tbl {
    padding: 0 !important;
}

.att-tbl mat-row mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    padding: 0.2em 0 0.2em 0;
    border-top: 0.44375em solid transparent;
}

.att-tbl mat-row mat-form-field .mat-form-field-wrapper .mat-form-field-infix .mat-select-arrow-wrapper {
    padding-top: 8px;
}

.att-tbl .db-li-n .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .att-tbl .db-li-n .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: 165px;
}

.att-tbl mat-header-row.mat-header-row {
    border-radius: 10px 10px 0 0;
}

.att-tbl mat-row mat-form-field {
    margin: 0 !important;
}
.att-tbl mat-row mat-form-field .mat-form-field-wrapper {
    padding: 0;
    background: cornsilk;
    border-radius: 5px;
}
.ex-mrk-entry-li .ex-mrk-entry thead tr th.cl-nm-srl{
    font-size: 13px; 
    text-align: left;
    max-width: 30px;
 }
 .cl-mrk-omrk{
    max-width: 30px;
    text-align: right;
}
.ex-mrk-entry-li .ex-mrk-entry thead tr th h5, .ex-mrk-entry-li .ex-mrk-entry thead tr th .h5{
   font-size: 13px; 
   text-align: left;
}
.ex-mrk-entry-li .ex-mrk-entry thead tr th h5, .ex-mrk-entry-li .ex-mrk-entry thead tr th .h5{
    max-width: 100px !important;
    min-width: 100px !important;
 }

.att-tbl .db-li-n .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.t-nm-cl, .att-tbl .db-li-n .mat-row.cdk-row.ng-star-inserted .mat-cell.t-nm-cl {
    max-width: 600px !important;
    min-width: 350px !important;
}

.att-tbl .db-li-n .mat-row {
    min-height: 35px;
}

app-main-tab-layout .table-bordered tbody tr th del {
    text-decoration-style: wavy;
    text-decoration-color: red;
}
// Sidebar style start

.sidebar .menu a {
    text-transform: capitalize;
}
.sidebar .menu .list .ml-menu li.active a:before{
    content: "=" !important;
    font-size: 20px !important;
    color: #f60002;
}
.sidebar .menu .list .ml-menu li.active a {
    text-decoration: underline;
    text-decoration-color: #f60002;
}
// Sidebar style start
.mat-table .mat-header-row .mat-header-cell, .mat-table .mat-row .mat-cell {
    padding: 0% 5px;
}
.mat-row.cdk-row.ng-star-inserted .mat-cell button {
    margin: 1px !important;
}
.mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: 110px;
}
span.d-color {
    color: red;
}
h5.m-t-21 {
    color: blue;
}
.mat-header-cell.mat-header-cell.cdk-header-cell.fa-n.cdk-column-familyAllowId.mat-column-familyAllowId.ng-star-inserted {
    max-width: 90px;
}
.mat-cell.mat-cell.cdk-cell.fa-n.cdk-column-familyAllowId.mat-column-familyAllowId.ng-star-inserted {
    max-width: 90px;
}
.mat-header-cell.mat-header-cell.cdk-header-cell.stc-s.cdk-column-status.mat-column-status.ng-star-inserted{
    max-width: 80px;
}
.mat-cell.mat-cell.cdk-cell.stc-s.cdk-column-status.mat-column-status.ng-star-inserted{
    max-width: 80px;
}
.mat-header-cell.mat-header-cell.cdk-header-cell.stc-0.cdk-column-actions.mat-column-actions.ng-star-inserted {
    max-width: 150px;
}
.mat-cell.mat-cell.cdk-cell.stc-0.cdk-column-actions.mat-column-actions.ng-star-inserted {
    max-width: 150px;
}


.mat-header-cell.mat-header-cell.cdk-header-cell.qexam-s.cdk-column-status.mat-column-status.ng-star-inserted {
    max-width: 80px;
}
.mat-cell.mat-cell.cdk-cell.qexam-s.cdk-column-status.mat-column-status.ng-star-inserted {
    max-width: 80px;
}
.mat-header-cell.mat-header-cell.cdk-header-cell.qexam-0.cdk-column-actions.mat-column-actions.ng-star-inserted {
    max-width: 150px;
}
.mat-cell.mat-cell.cdk-cell.qexam-0.cdk-column-actions.mat-column-actions.ng-star-inserted {
    max-width: 150px;
}

// .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child {
//    max-width: 45px;
// }
.mat-header-cell.mat-header-cell.cdk-header-cell.from.cdk-column-durationFrom.mat-column-durationFrom.ng-star-inserted
{
    text-align: center;
}
.mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child {
    max-width: 60px;
}
.routine-detail-trainee .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .routine-detail-trainee .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child {
    max-width: 50px;
}


mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-weekName.mat-column-weekName.ng-star-inserted {
    max-width: 50px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-weekName.mat-column-weekName.ng-star-inserted{
    max-width: 60px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-noitikota.mat-column-noitikota.ng-star-inserted {
    max-width: 80px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-noitikota.mat-column-noitikota.ng-star-inserted{
    max-width: 80px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-sahonsheelota.mat-column-sahonsheelota.ng-star-inserted{
    max-width: 90px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-sahonsheelota.mat-column-sahonsheelota.ng-star-inserted{
    max-width: 90px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-utsaho.mat-column-utsaho.ng-star-inserted{
    max-width: 60px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-utsaho.mat-column-utsaho.ng-star-inserted{
    max-width: 60px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-samayanubartita.mat-column-samayanubartita.ng-star-inserted{
    max-width: 100px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-samayanubartita.mat-column-samayanubartita.ng-star-inserted{
    max-width: 100px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-manovhab.mat-column-manovhab.ng-star-inserted{
    max-width: 75px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-manovhab.mat-column-manovhab.ng-star-inserted{
    max-width: 75px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-udyam.mat-column-udyam.ng-star-inserted{
    max-width: 60px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-udyam.mat-column-udyam.ng-star-inserted{
    max-width: 60px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-khapKhawano.mat-column-khapKhawano.ng-star-inserted{
    max-width: 70px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-khapKhawano.mat-column-khapKhawano.ng-star-inserted{
    max-width: 70px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ch.cdk-column-onyano.mat-column-onyano.ng-star-inserted{
    max-width: 55px;
}
mat-cell.mat-cell.cdk-cell.child-ch.cdk-column-onyano.mat-column-onyano.ng-star-inserted{
    max-width: 35px;
}
mat-header-cell.mat-header-cell.cdk-header-cell.child-ac.cdk-column-actions.mat-column-actions.ng-star-inserted{
    max-width: 55px;
}
.new-en-ev mat-header-cell.mat-header-cell.cdk-header-cell.child-ac.cdk-column-actions.mat-column-actions.ng-star-inserted, .new-en-ev mat-cell.mat-cell.cdk-cell.pr-0.child-ac.cdk-column-actions.mat-column-actions.ng-star-inserted {
    max-width: 55px;
}
.tbl-local .mat-row.cdk-row.ng-star-inserted .mat-cell {
    display: grid;
    min-height: auto;
}
.tbl-local .mat-row.cdk-row.ng-star-inserted .mat-cell.custom-action {
    display: block;
}

.table.tbl-by-group tbody tr td, .table.tbl-by-group tbody tr th {
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}
.img-on-hover .pop-on-hover {
    position: absolute;
    height: 150px;
    width: 150px;
    display: none;
}
.img-on-hover .pop-on-hover img {
    width: 150px;
    height: 150px;
}
.img-on-hover:hover .pop-on-hover {
    display: inline;
    position: absolute;
    left: 10%;
}
.img-on-hover .pop-on-hover:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
    z-index: 100;
    position: inherit;
    top: 66px;
    left: -10px;
}
.att-absent {
    color: red;
}
.att-present {
    color: green;
}

.mat-table .mat-header-row .mat-header-cell.bio-name, .mat-table .mat-row .mat-cell.bio-name {
    min-width: 450px;
    max-width: 450px;
}



.mat-table .mat-row .mat-cell.icon-d .material-icons {
    font-size: 25px;
}
.reading-materials mat-row {
    min-height: auto;
}
mat-table mat-row mat-cell .material-icons {
    font-size: 18px;
}

.stu-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:first-child, .stu-db .mat-row.cdk-row.ng-star-inserted .mat-cell:first-child , .stu-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .stu-db .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: unset;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .ser-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .ser-col{
    max-width: 50px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .type-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .type-col{
    max-width: 70px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .date-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .date-col{
    max-width: 100px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .duration-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .duration-col{
    max-width: 170px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .period-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .period-col{
    max-width: 70px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .loc-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .loc-col {
    max-width: 120px;
}
.stu-db.week-prog .mat-header-row.cdk-header-row.ng-star-inserted .sub-col, .stu-db.week-prog .mat-row.cdk-row.ng-star-inserted .sub-col {
    max-width: 160px;
}
.ins-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.scl-col, .ins-db .mat-row.cdk-row.ng-star-inserted .mat-cell.scl-col {
    max-width: 120px;
}
.ins-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.cor-col, .ins-db .mat-row.cdk-row.ng-star-inserted .mat-cell.cor-col {
    max-width: 100px;
}
.ins-db .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.sub-col, .ins-db .mat-row.cdk-row.ng-star-inserted .mat-cell.sub-col {
    max-width: 215px;
}
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.date-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.date-col{
    max-width: 100px;
}
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.scl-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.scl-col,
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.duration-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.duration-col,
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.course-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.course-col,
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.subject-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.subject-col,
.ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.location-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.location-col{
    max-width: 200px;
}
.ins-dash-menu {
    padding: 5px 10px;
}

.ins-dash-menu .ins-dash-menu-item {
    margin: 0!important;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
}

.ins-dash-menu .ins-dash-menu-item:hover {
    background: #2e706d;
}

.ins-dash-menu .ins-dash-menu-item a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.db-tbl.absent-list .mat-header-row.cdk-header-row.ng-star-inserted {
    background: #d9d9d9;
}
.db-tbl.absent-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell {
    color: #000;
}

.db-tbl.absent-list .mat-flat-button {
    padding: 0;
}

.count-tbl .no-link {
    font-size: 17px;
    font-weight: bold;
    color: green;
}
.scl-db mat-header-cell.mat-sort-header.mat-header-cell.cdk-header-cell.can-col.ng-star-inserted, .scl-db mat-cell.mat-cell.cdk-cell.can-col.ng-star-inserted {
    max-width: 80px;
}

.absent-list mat-cell, .absent-list mat-header-cell {
    display: grid !important;
    text-align: center;
}
.absent-list mat-header-cell .mat-sort-header-container, .absent-list mat-header-cell .mat-sort-header-container .mat-sort-header-content {
    display: grid;
    text-align: center;
    padding: 0;
}
.absent-list mat-cell button.mat-primary {
    line-height: unset !important;
}
.absent-list mat-cell b {
    padding: 0;
}
.back-btn {
    background: #e32c2c;
    color: #fff;
}
.load-routine .align-center p {
    margin: 0;
}
.in-page-bulletin-list .mat-header-row.cdk-header-row.ng-star-inserted {
    background: #7a9316;
}
.mat-table .custom-btn.btn-red-bordered {
    color: red !important;
}
.mat-table .custom-btn.btn-red-bordered:hover {
    background: red;
    color: #fff !important;
}
.dynamic-mrk-sheet .mat-table.cdk-table.dynamic-tbl {
    width: 100%;
}
.ex-mrk-entry-li .edit-cls-routine thead tr .cl-srl {
    min-width: 35px !important;
    max-width: 35px !important;
    width: 35px !important;
}
.trainee-notice-board .notice-board .notice-body{
    padding: 0px 0px 5px 40px;
}
.scl-top-row .card {
    height: 260px;
}

.content .card .body .tbl-by-group.db-li-s-in tbody td {
    border: 1px solid #000;
}

.abs-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.ser-col, .abs-list .mat-row.cdk-row.ng-star-inserted .mat-cell.ser-col {
    max-width: 50px;
}
.abs-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.sub-col, .abs-list .mat-row.cdk-row.ng-star-inserted .mat-cell.sub-col {
    max-width: 200px;
}
.trainee-db-useful-row .card {
    height: 210px;
}
.trainee-db-useful-row .db-tbl .mat-header-row.cdk-header-row.ng-star-inserted {
    background: #828293;
}
.trainee-db-useful-row .ins-dash-menu .ins-dash-menu-item {
    border-radius: 15px 0;
    background: #51620cf5;
}
.trainee-notice-board .notification-sign {
    position: relative;
    left: -18px;
    top: -8px;
    background: none;
    text-shadow: none;
}

.notice-list .course-col {
    min-width: 150px;
    max-width: 150px;
}
.notice-list.db-tbl .mat-header-row.cdk-header-row.ng-star-inserted {
    background: #79797c;
}
// notification design start 

  .notification-sign {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .notification-flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .notification-fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }

// notification design end

.bulletin-section .row div.title {
    padding: 6px 0;
    text-align: center;
    background: #66022b9c;
    border-radius: 15px 0 0px 15px;
    color: #fff;
    font-family: 'cuprum';
}
.bulletin-section .title h4{
    margin: 0;
}
.bulletin-section .scrollbar {
    background: #27c114bd;
    border-radius: 0 10px 10px 0;
}
.bulletin-section .row div {
    padding: 0;
}
.bulletin-section .scrollbar .bulletin-item {
    background: none;
    color: #000;
    font-weight: bold;
}
.bulletin-section .scrollbar .bulletin-item a {
    color: #000;
    text-decoration: underline;
}
.bulletin-section .bulletin-item {
    margin-right: 25px;
}
.bulletin-section .bulletin-item:before {
    content: "*";
    font-size: 25px;
    position: relative;
    top: 7px;
    right: 5px;
    color: red;
}
.ex-mrk-entry-li .edit-cls-routine thead tr .cl-date, .ex-mrk-entry-li .edit-cls-routine thead tr .cl-type, .ex-mrk-entry-li .edit-cls-routine thead tr .cl-tol-prd {
    width: 1px;
}
.ex-mrk-entry-li .edit-cls-routine thead tr .cl-prd {
    width: 200px;
}
.dynamic-mrk-sheet .mat-table.cdk-table.dynamic-tbl .rotate span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: justify;
    padding: 5px;
    text-transform: capitalize;
    height: 135px;
    font-size: 12px;
}
.dynamic-tbl-forroutine tr th, .dynamic-tbl-forroutine tr td {
    border: 1px solid #202020;
    border-color: #fff;
}
.dynamic-tbl-forroutine tr th {
    background: #267612;
}
.dynamic-tbl-forroutine tr th span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 5px;
    text-transform: capitalize;
}
// mat-cell.mat-cell.cdk-cell.cdk-column-noticeDetails.mat-column-noticeDetails.ng-star-inserted{

// }
.dynamic-mrk-sheet .mat-table.cdk-table.dynamic-tbl .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell {
    border: 1px solid #202020;
    background: #d9d9d9;
    color: #000;
}
.dynamic-mrk-sheet .mat-table.cdk-table.dynamic-tbl tr.mat-row td.mat-cell {
    border: 1px solid;
}
.absent-list mat-header-cell .mat-sort-header-arrow {
    display: none;
}
.full-width.count-tbl tr th, .full-width.count-tbl tr td {
    padding: 0;
}
.ins-dash-menu .ins-dash-menu-item a:hover{
    color: #ef7575;
}

.ins-db.read-mat mat-cell i {
    font-size: 16px;
    color: red;
    font-weight: 600;
}
.notice-row .card .header {
    display: block !important;
}
mat-row, mat-footer-row {
    min-height: auto !important;
}
mat-table mat-row mat-cell .btn-custom {
    width: 25px !important;
    height: 25px !important;
    line-height: 24px !important;
}
.ex-mrk-entry-li .card .body {
    background: #787862;
}
.ex-mrk-entry-li.res-msg h4 {
    text-align: center;
    color: #c10f0f;
    margin: 0;
    padding: 10px;
}
button .col-white {
    color: #fff !important;
}
.ex-mrk-entry-li .ex-mrk-entry mat-form-field .mat-form-field-infix {
    padding: 5px 0;
    border-top: 5px solid transparent;
}
.ex-mrk-entry-li .ex-mrk-entry mat-form-field .mat-form-field-infix .mat-select-arrow-wrapper {
    padding-top: 10px;
}
.ex-mrk-entry-li .ex-mrk-entry thead tr th {
    background: steelblue;
    color: #fff;
}
.ex-mrk-entry-li .ex-mrk-entry thead tr th h5 {
    margin: 0;
}
.ex-mrk-entry-li .ex-mrk-entry mat-form-field .mat-form-field-wrapper .mat-form-field-outline {
    background: #ffffff;
    border-radius: 5px;
}
.ex-mrk-entry-li .ex-mrk-entry .cl-mrk-rmrk .mat-form-field-wrapper .mat-form-field-outline {
    background: beige;
}
.ex-mrk-entry-li .ex-mrk-entry tr:nth-child(odd) {
    background: #deb88761;
}
.ex-mrk-entry-li .ex-mrk-entry tr:nth-child(even) {
    background: #ff7f5047;
}
.ex-i-asgn .ex-date {
    min-width: 100px;
    max-width: 100px;
}
.ex-i-asgn .ex-type {
    min-width: 110px;
    max-width: 110px;
}
.ex-i-asgn .ex-name {
    min-width: 500px;
    max-width: 500px;
}
.ex-i-asgn mat-row {
    min-height: auto;
}
.multi-box {
    background: antiquewhite;
    height: 90px;
    padding-top: 15px;
    border: 2px solid #030980;
    border-radius: 5px;
}
.multi-box.first-box {
    background: #c7cfdd85;
}

.family-info .row{
    border: 1px solid;
    padding: 10px 0;
    background-color: lavenderblush;
}

.exam-mark .left-row {
    border: 1px solid;
    padding: 10px 0;
    border-radius: 10px;
    background: #d5d26a73;
    height: 180px;
}
.exam-mark .right-row {
    border: 1px solid;
    padding: 10px 0;
    margin-left: 1px;
    border-radius: 10px;
    background: #78c9e166;
    height: 180px;
}
.exam-mark .sticky-table {
    overflow-y: auto;
}
.exam-mark .ex-mrk-li {
    height: 120px;
}
.exam-mark .example-full-width .mat-form-field-subscript-wrapper {
    margin-top: 2px;
}
.exam-mark .ex-mrk-li mat-header-row {
    position: sticky;
    top: 0;
}
.ex-mrk-entry-li .ex-mrk-entry .cl-mrk-rmrk {
    max-width: 80px;
    min-width: 80px;
}
.ex-mrk-entry-li .ex-mrk-entry .cl-mrk {
    max-width: 80px;
    min-width: 80px;
}
.ex-mrk-entry-li .ex-mrk-entry mat-form-field {
    margin: 0 !important;
}
.ex-mrk-entry-li .ex-mrk-entry mat-form-field .mat-form-field-wrapper {
    padding: 0;
}
.ex-mrk-entry-li .ex-mrk-entry th, .ex-mrk-entry-li .ex-mrk-entry td {
    padding: 0px 5px;
}
.db-tbl .mat-header-row.cdk-header-row.ng-star-inserted {
    border-radius: 10px 10px 0 0;
    background: blue;
}
.form-border-design {
    border: 2px solid #c7acac;
    background: #c8f1f1d6;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.full-width tr {
    border-bottom: 1.5px solid #e3e3e3;
    text-transform: uppercase;
    margin: 0;
}
.full-width tr th, .full-width tr td{
    padding: 5px;
}
.full-width tr td a {
    font-size: 18px !important;
    font-weight: bold;
}
.full-width tr td a:hover {
    text-decoration: underline;
    color: #f60002;
}
.full-width tr:last-child {
    border-bottom: none;
}

.cls-rtn .btn-tbl-edit, .cls-rtn .btn-tbl-delete {
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
}
.cls-rtn .mat-icon-button .mat-icon{
    line-height: 20px;
    font-size: 13px !important;
    width: 21px;
}
.cls-rtn mat-row, .cls-rtn mat-footer-row{
    min-height: auto;
}
.ex-mrk-lft-tbl .mat-row.cdk-row.ng-star-inserted:nth-child(odd) {
    background: #b3ff93;
}
.ex-mrk-lft-tbl .mat-row.cdk-row.ng-star-inserted:nth-child(even) {
    background: #4877a7a8;
}
.ex-mrk-lft-tbl .mat-header-row.cdk-header-row.ng-star-inserted {
    border-radius: 10px 10px 0 0;
    background: blue;
}
.ex-mrk-lft-tbl mat-row, .ex-mrk-lft-tbl mat-footer-row {
    min-height: auto;
}
.db-li-s-in mat-row, .db-li-s-in mat-footer-row {
    min-height: 25px;
}
.db-li-s-in .mat-header-row.cdk-header-row.ng-star-inserted {
    border-radius: 10px 10px 0 0;
    background: #d1534a;
}
.db-li-s-in .mat-row.cdk-row.ng-star-inserted:nth-child(even) {
    background: #8ca2d3;
}
.db-li-s-in .mat-row.cdk-row.ng-star-inserted:nth-child(odd) {
    background: #96e5b9;
}
.btn-tbl-view {
    height: 25px !important;
    width: 25px !important;
    line-height: 23px !important;
    margin: 2px !important;
    background: #34aebb;
}
.btn-tbl-nomination {
    height: 25px !important;
    width: 25px !important;
    line-height: 23px !important;
    margin: 2px !important;
    background: #030980;
}
.materialTableHeader.syllabus {
    height: auto;
}
.materialTableHeader.syllabus .col-8 p {
    margin: 0;
    font-weight: bold;
}
.multi-box .mat-form-field-subscript-wrapper {
    margin-top: 0.36667em;
}
.mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.custom-action, .mat-row.cdk-row.ng-star-inserted .mat-cell.custom-action {
    max-width: 140px;
}
.db-li-n .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .db-li-n .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: unset;
}
.db-li-n.syllabus-list .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .db-li-n .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: 120px;
}
.t-n-pno-d {
    font-weight: bold;
}
.tbl-local mat-row {
    align-items: inherit;
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
}
.tbl-custom-s-pro {
    max-width: 90px;
}
.tbl-custom-s-nbc {
    max-width: 45px;
}
// h3.useLink {
//     margin-left: 250px;
// }
.tbl-local mat-row mat-cell {
    border: 1px solid;
    min-height: inherit;
}
.mat-table .custom-btn {
    background: transparent;
    box-shadow: none;
    font-weight: 400;
    padding: 5px 8px;
    line-height: 12px;
    border: 1px solid;
    color: #198754 !important;
    font-family: cambria;
}

.mat-table .custom-btn:hover {
    background: #258754;
    color: #fff !important;
    border: none;
}
.edit-routine-list .card {
    margin: 0;
}
.db-li-n.nominated .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .db-li-n.nominated .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: unset;
}
.instructor-list.db-tbl.routine-detail-trainee mat-header-cell.mat-sort-header.mat-header-cell.cdk-header-cell.ins-code, .instructor-list.db-tbl.routine-detail-trainee mat-cell.mat-cell.cdk-cell.ins-code, .instructor-list.db-tbl.routine-detail-trainee mat-header-cell.mat-sort-header.mat-header-cell.cdk-header-cell.sub-code, .instructor-list.db-tbl.routine-detail-trainee mat-cell.mat-cell.cdk-cell.sub-code {
    max-width: 75px;
}
.dynamic-tbl-forroutine .mat-cell, .dynamic-tbl-forroutine .mat-footer-cell {
    font-size: 11px;
}
.card .body .mat-table .mat-column-bnaSubjectName.ng-star-inserted {
    max-width: 250px;
}
.card .body .mat-table .mat-column-trainee.ng-star-inserted {
    max-width: 500px !important;
}
// .btnGroup {
//     /* align-content: center; */
//     margin-left: 30px;
// }
.login .mat-raised-button.mat-button-disabled {
    background: #ffffffb8;
    color: #000;
    font-size: 20px !important;
}

.noticeBoard {
    /* max-height: 40px; */
    height: 160px;
    background-color: #46a146;
    width: 480px;
    border-radius: 15px;
}

h4.noticecontent {
    margin-left: 20px;
    margin-top: 30px;
}
h4.noticeHeader {
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
    margin-left: 170px;
    margin-top: -30p;
    content: center;
}

h3.useLink {
    margin-left: 430px;
}


.teacher .ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.scl-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.scl-col, .ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.duration-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.duration-col, .ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.course-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.course-col, .ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.subject-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.subject-col, .ins-db.week-rtn .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell.location-col, .ins-db.week-rtn .mat-row.cdk-row.ng-star-inserted .mat-cell.location-col {
    max-width: 400px;
}

h4.noticecontent {
    color: white;
    align-content: center;
    margin-top: 20px;
}
// .materialTableHeaderupcomming {
//     padding: 10px 20px;
//     align-items: center;
//     border-color: #e6e9ed;
//     background-color: #ebebee;
//     height: 60px;
//     min-width: 400px;
// }
h4.upCourse {
    margin-top: 8px;
    margin-left: -13px;
    /* align-content: start; */
}

.materialTableHeaderupcomming {
    padding: 10px 20px;
    align-items: center;
    border-color: #e6e9ed;
    background-color: #ebebee;
    height: 60px;
    /* min-width: 400px; */
}

// button.mat-focus-indicator.btnDetails.mat-flat-button.mat-button-base.mat-primary {
//     height: 60px;
//     width: 120px;
//     margin-right: 4px;
//     margin-bottom: 4px;
// }
button.mat-focus-indicator.btnDetailsins.mat-flat-button.mat-button-base.mat-primary {
    margin: 1.1%;
    margin-bottom: 4px;
    width: 22.8%;
    height: 50px;
    background-color: #2b5be2;
}
span.complete-status {
    color: green;
    font-weight: bold;
}
span.incomplete-status {
    color: #f60002;
    font-weight: bold;
}
.db-tbl.instructor-xm-lst .mat-header-row.cdk-header-row.ng-star-inserted .mat-header-cell:last-child, .db-tbl.instructor-xm-lst .mat-row.cdk-row.ng-star-inserted .mat-cell:last-child {
    max-width: unset;
}
.card.usefullink .body .col-md-12 {
    margin-bottom: 0;
}
button.mat-focus-indicator.btnDetails.mat-flat-button.mat-button-base.mat-primary {
    margin: 1.1%;
    margin-bottom: 4px;
    width: 31%;
    height: 80px;
}
app-main-tab-layout .table-bordered tbody tr td {
    background: #92b2b3;
    width: 25%;
}

// Dashboard design start

.card .body .dash-cd-m-0 .div-class {
    margin: 0;
}
.card .body .dash-cd-m-0 .div-class h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'cuprum';
    color: #000;
}
.card .body .dash-cd-m-0 .div-class.div-right {
    text-align: right;
}
// Dashboard design end


// shape design start

.shape.first {
    position: absolute;
    width: 0;
    height: 0;
    /* border-top: 0px solid transparent; */
    /* border-right: 465px solid #41e24b; */
    /* border-bottom: 315px solid transparent; */
    border-top: 141px solid transparent;
    border-left: 410px solid #ff0000;
    border-bottom: 68px solid transparent;
}
.shape.snd {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 278px solid transparent;
    border-left: 410px solid #392222;
    border-bottom: 0px solid transparent;
}

.shape.trd {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 201px solid red;
    border-bottom: 137px solid transparent;
    position: absolute;
    top: 448px;
    left: 50.19%;
}

.shape.frd {
    width: 0;
    position: absolute;
    left: 47.4%;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 240px solid #5c4b4b;
    border-bottom: 78px solid transparent;
}

.shape.dashboard-menu {
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-right: 64px solid transparent;
}

// shape design end 




/*                 [0. Custom Style End ]                   			*/


/*                 [1. Common ]                   			*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "common/_variables";
@import "common/_mixins";
@import "common/_customanimate.scss";
@import "common/_general.scss";
@import "common/_demo.scss";
@import "common/_helpers.scss";
@import "common/_media.scss";
@import "common/_animation.scss";
@import "common/_rtl.scss";

/*                 [2. Fonts]                   				*/
// @import "fonts/_material.scss";
@import "fonts/fontawesome/fontawesome.scss";
@import "fonts/fontawesome/regular.scss";
@import "fonts/fontawesome/solid.scss";
@import "fonts/fontawesome/brands.scss";

/*                 [3. Components ]                   		*/
@import "components/_breadcrumbs.scss";
@import "components/_checkboxradio.scss";
@import "components/_dropdownmenu.scss";
@import "components/_feed.scss";
@import "components/_formcomponents.scss";
@import "components/_infobox.scss";
@import "components/_inputformgroup.scss";
@import "components/_labels.scss";
@import "components/_leftsidebaroverlay.scss";
@import "components/_navbar";
@import "components/_navtabs.scss";
@import "components/_noticeboard.scss";
@import "components/_rightsidebar.scss";
@import "components/_searchbar.scss";
@import "components/_switch.scss";
@import "components/_thumbnails.scss";
@import "components/_todo.scss";

/*                 [4. Apps]                   				*/
@import "apps/_calendar.scss";
@import "apps/_chat.scss";
@import "apps/_contactlist.scss";
@import "apps/_contactgrid.scss";
@import "apps/_dragdrop.scss";
@import "apps/_task.scss";

/*                 [5. Pages ]                   				*/
@import "pages/_dashboard.scss";
@import "pages/_inbox.scss";
@import "pages/_pricing.scss";
@import "pages/_profile.scss";
@import "pages/_timeline.scss";
// @import "pages/_extra_pages.scss";
@import "pages/_auth.scss";

/*                 [6. Pugins ]                   				*/
@import "plugins/_carousel.scss";
@import "plugins/_charts.scss";
@import "plugins/_formwizard.scss";
@import "plugins/_imagegallery.scss";
@import "plugins/_maps.scss";
@import "plugins/_tables.scss";

/*                 [7. UI ]                   */
@import "ui/_alerts.scss";
@import "ui/_badgelistgroupitem.scss";
@import "ui/_buttons.scss";
@import "ui/_card.scss";
@import "ui/_collapse.scss";
@import "ui/_dialogs.scss";
@import "ui/_expansion.scss";
@import "ui/_mediaobject.scss";
@import "ui/_modals.scss";
@import "ui/_pageloader.scss";
@import "ui/_pagination.scss";
@import "ui/_panels.scss";
@import "ui/_preloaders.scss";
@import "ui/_progressbars.scss";
@import "ui/_slider.scss";
@import "ui/_snackbar.scss";
@import "ui/_tabs.scss";
@import "ui/_tooltippopovers.scss";
@import "ui/_ckeditor.scss";

/*                 [8. Browser ]                   			*/
@import "browser/_ie10.scss";
@import "browser/_ie11.scss";
