<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Product</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-43 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Category</mat-label>
                      <mat-select formControlName="categoryId">
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let dropdown of selectedCategory" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div formArrayName="product">
                     <div *ngFor="let unit of ProductForm.get('product')['controls']; let i = index" formGroupName="{{i}}" class="margin-top">
                        <div class="row pt-2">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput formControlName="name" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Code</mat-label>
                              <input matInput formControlName="code" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Qty</mat-label>
                              <input matInput formControlName="qty" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-2 remove-padding-right">
                             <a (click)="removeProduct(i)"><span class="btn btn-sm btn-danger">Remove</span></a>
                          </div>
                        </div>
                        <div class="col-md-12 pt-2">
                          <a (click)="addProduct()"><span class="btn btn-sm btn-success">Add</span></a>
                       </div>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!ProductForm.valid " mat-raised-button
                      color="primary">{{btnText}}</button>
                    <button type="button" mat-button routerLink="/product-management/product-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  